:root {
  --main-bg-color: #FFFFFF;
  --avatar-bg-color: #FF5555;
  --disabled-color: #D9D9D9;
  --second-txt-color: #7E7E7E;
  --first-txt-color: #000000;
  --hover-color: #208FBF;
  --out-color: #F9F9F9;
  --shadow-color: rgba(182, 182, 182, 0.25);
}
